version: '2'
services:
    openldap-server:
        container_name: openldap-server
        image: osixia/openldap
        environment:
            - LDAP_ORGANISATION="LNLS Controls Group"
            - LDAP_DOMAIN=lnls.br
            - LDAP_ADMIN_PASSWORD=controle
            - LDAP_TLS=false
        ports:
            - "389:389"
            - "636:636"
        dns:
            - 10.0.0.71
            - 10.0.0.72
