[Unit]
Description=LNLS OpenLDAP server
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker-compose -f /usr/local/etc/lnls-ldap/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /usr/local/etc/lnls-ldap/docker-compose.yml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
